extends layout
block title
    title= "RTChat"
block content
    form(method="post", action="/login")
        p Connect to server
        input(name="username", type="text", placeholder="username", autofocus)
        input(name="server", type="text", placeholder="server", value="#")
        input(name="submit", type="submit", value="Add")
