doctype html
html(lang="en")
    head
        script(type="text/javascript", src="https://clef.io/static/javascripts/clef.js")
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    body
        h2= 'Sign in with Clef'
        script(type="text/javascript", class="clef-button", src="https://clef.io/v2/clef.js", data-app-id="5f0c97b3ac2fe0f8c7ffedcf058140fe", data-redirect-url="http://rtchat.dit.in.ua:8085/oauth2/clef")

