#portfolio_tem{
	margin-top: 10px;
}
#portfolio_tem .left_box{
	margin-left: 0;
	text-align: center;
	margin-top: -40px;
}
#portfolio_tem .chat_window{
	width: 100%;
	float: right;
	margin-top: -40px;
	background: #fff;
	height: 433px;
	overflow: auto;
	margin-bottom: 25px;
	border-radius: 5px;
}
#portfolio_tem .chat_window p{
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	color: #3F3F3F;
}
#portfolio_tem p.text_owner{
	background: #eee;
	width: 100%;
}


#remoteVideo { 
	height: 431px;
	width: 100%;
	border: 1px solid black;
	background: #000;
	border-radius: 5px;
	margin-bottom: 20px;
}
#localVideo { 
	height: 100px;
	background: #000;
	border-radius: 5px;
	float: right;
}
a.specialButton{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 17px;
    font-size: 27px;
    background: #187CCC;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
#callButton {
	float:left;
    margin: 30px 0 0 100px;
}
#sendButton {
	font-size: 15px;
	padding: 5px 17px;
	float: right;
}
a.specialButton:hover{
    background: #2190DB;
    cursor: pointer;
}

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {

}
@media (min-width: 980px) {

}
@media (max-width: 979px) {
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#portfolio_tem .left_box .big{
		height: 372px;
	}
}	
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#portfolio_tem .left_box{
		margin-bottom: 50px;
	}
	#portfolio_tem .left_box .thumbs{
		overflow: hidden;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	#portfolio_tem .left_box .big {
		max-height: 350px;
	}
	#portfolio_tem .left_box .big img {
		margin-bottom: 10px;
		max-height: 350px;
	}
	#portfolio_tem .thumbs .thumb{
		margin-right: 5px;
	}
}
